body {
 margin: 0;
 padding: 0;
 font-family: "Inter", sans-serif;
 overflow: scroll;
}
.card {
 display: flex;
 flex-direction: row;
 margin: 40px 35px;
 border-radius: 10px;
 width: fit-content;
 height: fit-content;
}
.card-img {
   border-radius: 10px;
   width: 120px;
   height: 100%;
   object-fit: cover;
}
.location-img {
   width: 35px;
   align-self: center;
   align-items: flex-start;
}
.location-link {
   align-self: center;
   font-size: 0.7rem;
   color: #B4B2B4;
}
.location-text {
   text-transform: uppercase;
   margin-right: 12px;
   font-size: 0.7rem;
   align-self: center;
}
.card-location {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   align-self: center;
   height: fit-content;
   line-height: 0;
}
.img-container {
   display: flex;
   flex-grow: 1;
   align-self: center;
}
.nav-logo {
 width: 1.7rem;
 align-self: center;
 border-radius: 50%;
}
.title {
   color: white;
   font-weight: 300;
}
.navbar {
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: #E93E52;
 gap: 10px;
}
.text-title {
   text-transform: capitalize;
   line-height: 0;
   margin: 10px 0 43px 0;
}
.text-date {
   line-height: 0;
   margin: 10px 0;
   font-weight: 800;
}
.text-desc {
   margin: 0;
   font-size: 0.8rem;
   color: #868488;
}
.text-container {
   padding: 0 15px;
}
.card-text {
   align-self: center;
}