* {
 margin: 0;
 padding: 0;
}
nav {
 display: flex;
 align-items: center;
 text-align: center;
 justify-content: space-between;
 background-color: rgb(240, 241, 241);
}
.nav-items {
 list-style: none;
 display: flex;
 justify-content: space-between;
 text-align: center;
}
.nav-items > li {
 padding: 10px;
}
.nav-logo {
 width: 50px;
}
.footer {
 background-color: rgb(134, 134, 134);
 color: white;
 display: flex;
 height: 30px;
 align-items: center;
}
main {
 padding: 15px;
}
.main-items {
 margin-left: 60px;
}